<ion-tabs class="stylebackbottom">
  <ion-tab-bar slot="bottom" class="stylebackbottom">
    <ion-tab-button tab="booster">
      <ion-icon name="home"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="immunitymeter">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Measure</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="activity">
      <ion-icon name="bicycle"></ion-icon>
      <ion-label>activity</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="dashboard">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>dashboard</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>